<main>
  <div class="user_details">
    <p><%= link_to 'View Bookings', bookings_path %></p>
    <p><%= link_to "View Lessons", "/mylessonbookings" %></p>
  </div>
  <% if current_user.bookings.count == 0 %>
  <p>You have made 0 bookings! <%= link_to 'Click here', lessons_path, class: "bold" %> to browse available lessons.</p>
  <% end %>
  <div class="bookings_index_container">
    <%= render @bookings %>
  </div>
</main>
