.category_button {
  border: 1px solid #EDEEEE;
  background: white;
  text-decoration: none;
  padding: 5px 10px;
  line-height: 2.2;
}

.category_button:hover {
  background: #44F2CB;
  color: white;
  border: 1px solid #44F2CB;
}

.category_container {
  width: 115px;
  text-align: right;
  float: right;
}