.category_button {
  border: 1px solid black;
  background: white;
  text-decoration: none;
  padding: 5px 10px;
}

.category_button:hover {
  background: palegreen;
  color: white;
  border: 1px solid palegreen;
}

.category_show_container {
  margin: 20px 0;
}