.lesson_index {
  width: 440px;
  background: white;
  float: left;
  padding: 20px
}

.lesson_index_container {
  margin: 20px 0;
  clear: both;
}

.create_lesson {
  color: white;
  background-color: palegreen;
  border: 2px solid palegreen;
  border-radius: 5px;
  padding: 4px;
}