.lesson_index {
  width: 360px;
  background: white;
  display: inline-block;
  padding: 20px
}

.lesson_index_main_container {
  margin-top: 20px;
}

.lesson_index_container {
  width: 800px;
  display: inline-block;
  clear: both;
}

.small_likes_button {
  font-size: 13px;
  background: #44F2CB;
  border-bottom: 2px solid #40D6B4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  line-height: 2.7;
  position: relative;
  top: -1px;
}

.nearby_lessons {
  padding-top: 20px;
  clear: both;
  margin: 20px 0;
  width: 800px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}