.user_profile_info {
  float: left;

  .user_avatar {
    width: 250px;
    height: 250px;
    float: left;
  }

  .user_name_bio {
    width: 480px;
    height: 210px;
    float: left;
    padding: 20px;
    background: white;
    margin: 0 20px;
  }
}

.user_details {
  padding: 10px;
  text-align: right;
  float: right;
  background: white;
  border: 1px solid #EDEEEE;
}

.user_show_lessons {
  padding-top: 20px;
  clear: both;
  margin: 20px 0;
  width: 800px;
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
}