<div class="homepage_banner">
  <%= search_form_for @search do |f| %>
  <div class="field homepage_search">
  <div class="homepage_search_container">
    <%= f.text_field :description_cont, :placeholder => "What would you like to learn?" %>
    <%= f.submit "Search", :class => 'homepage_submit' %>
    </div>
  </div>
  <% end %>
</div>
<main>
  <h2>Popular Lessons</h2>
</main>