<main>

  <h2><%= @category.name %> Lessons</h2>
  <div class="category_container">
    <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "category_button" %><br>
    <% end %>
  </div>
  <%= render @category.lessons %>

</main>
